* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

nav {
  background-color: #243447;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  font-family: sans-serif;
  border-bottom: 3px solid red;
}

nav h1 {
  color: white;
}

.nav-links {
  display: flex;
  justify-content: space-between;
}

.link {
  padding: 10px;
  color: white;
  text-decoration: none;
}
.movie-card {
  border: 1px solid black;
  width: 45%;
  margin: 40px auto;
  text-align: center;
  height: 350px;
}

.movie-div {
  width: 100%;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
}

.movie-card h1 {
  color: rgb(30, 31, 32);
}
